{% extends 'base.html.twig' %}

{% block html %}
    <head>
        <meta charset="UTF-8"></meta>
        <title>MAPX Geo</title>
    </head>

    {% block body %}
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; color: white }
            #map { height: 100%; }
        </style>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
        <script src='/js/jquery.min.js'></script>
        <script src="/js/main.js"></script>        
        <script src="/js/commons.js"></script>        
        <table border="0" class="tabla2">
            <tr height="20%">
                <td>
                </td>
                <td>
                    <span id="user-name">HOLA</span>                    
                    <a id="btnSignOut" class="btnSignOut" href="javascript:void(0);" onclick="javascript:cerrarSesion();">Cerrar Sesi&oacute;n</a>
                </td>
                <td>
                    <span id="user-name"></span>
                </td>
            </tr>
            <tr height="80%">
                <td colspan="3">
                    <div id="map"></div>
                </td>
            </tr>
        </table>
        <script type="text/javascript">

            //var userName = document.getElementById('user-name');
            var map;
            // Inicialización de Firebase
            /*
             var config = {
             apiKey: "AIzaSyCg_gZRScHBxqdjTpKqmcBTyaSp0ct5Hvo",
             authDomain: "posicionamiento-d0b1b.firebaseapp.com",
             databaseURL: "https://posicionamiento-d0b1b.firebaseio.com",
             storageBucket: "posicionamiento-d0b1b.appspot.com",
             messagingSenderId: "748730235011"
             };
             firebase.initializeApp(config);
             */
            console.log("user");
            alert("MAP Usuario-> " + firebase.auth().currentUser);
            if (!firebase.auth().currentUser)
            {
                //firebase.auth().signOut();
                //window.location.href = "/";
            }
            else
            {
                alert("Usuario-> " + firebase.auth().currentUser);
            }

            //dataBase = firebase.database();
            //userConected = dataBase.ref('/SG_USUARIOS');

            //userConected.on('child_added', function(data){});
            /*
             
             var newPostKey = userConected.child('SG_USUARIOS').push().key;
             
             
             firebase.database().ref('SG_USUARIOS/'+newPostKey).set({
             NOMBRE: "4_ISI Lovelace",
             EMAIL: "isi@gmail.com"
             }).catch(function (err)
             {
             strCodigoError = err.code;
             strMensajeError = err.message;
             alert(strCodigoError);
             });
             
             */
            firebase.auth().onAuthStateChanged(function (user)
            {
                if (user)
                {
                    console.log("SIII hay sesión");
                    //userName.textContent = user.email;
                    setHtmlCmp("user-name", user.email);
                }
                else
                {
                    console.log("No hay sesión");
                }
            });

            function initMap()
            {
                var myLatLng = {lat: -2.183004360911292, lng: -79.92313385009766};
                map = new google.maps.Map(document.getElementById('map'),
                        {
                            center: myLatLng,
                            zoom: 12
                        });

                map.addListener('dblclick', function (e)
                {
                    var marker = new google.maps.Marker({
                        position: e.latLng,
                        map: map
                    });
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkJj8aKgrTVqSmldMR5gwCxaSvuE_D7wk&callback=initMap">
        </script>
    {% endblock %}
{% endblock %}