{% extends 'base.html.twig' %}

{% block html %}
    <head>
        <meta charset="UTF-8"></meta>
        <title>MAPX Geo</title>
    </head>

    {% block body %}
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; color: white }
            #map { height: 100%; }
        </style>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
        <script src='/js/jquery.min.js'></script>
        <script src="/js/main.js"></script>        
        <script src="/js/commons.js"></script>
        <script type="text/javascript">

            //var userName = document.getElementById('user-name');
            var map;
            /*
             if (!firebase.auth().currentUser)
             {
             //firebase.auth().signOut();
             //window.location.href = "/";
             }
             else
             {
             setHtmlCmp("user-name", firebase.auth().currentUser.email);
             }
             */

            firebase.auth().onAuthStateChanged(function (user)
            {
                if (user)
                {
                    setHtmlCmp("user-name", user.email);
                }
                else
                {
                    if (status == 0)
                    {
                        alert("SE REQUIERE INICIAR SESIÓN");
                    }
                    else if (status == 2)
                    {
                        alert("GRACIAS POR UTILIZAR NUESTRO SERVICIO");
                    }
                    window.location.href = "/";
                }
            });

            function initMap()
            {
                var myLatLng = {lat: -2.183004360911292, lng: -79.92313385009766};
                map = new google.maps.Map(document.getElementById('map'),
                        {
                            center: myLatLng,
                            zoom: 12
                        });

                map.addListener('dblclick', function (e)
                {
                    var marker = new google.maps.Marker({
                        position: e.latLng,
                        map: map
                    });
                    console.log("Antes");
                    wi = writeNewMarker(myLatLng.lat, myLatLng.lng);
                    console.log("Despues-> " + wi);
                });
            }
            
        </script>
        <table border="0" class="tabla2">
            <tr height="20%">
                <td>
                </td>
                <td>
                    <span id="user-name"></span>                    
                    <a id="btnSignOut" class="btnSignOut" href="javascript:void(0);" onclick="javascript:cerrarSesion();">Cerrar Sesi&oacute;n</a>
                </td>
                <td>
                    <span id="user-name"></span>
                </td>
            </tr>
            <tr height="80%">
                <td colspan="3">
                    <div id="map"></div>
                </td>
            </tr>
        </table>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkJj8aKgrTVqSmldMR5gwCxaSvuE_D7wk&callback=initMap">
        </script>
    {% endblock %}
{% endblock %}