{% extends 'base.html.twig' %}

{% block html %}
    <head>
        <meta charset="UTF-8"></meta>
        <title>MAPX Login</title>
    </head>

    {% block body %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
        <script src="/js/main.js"></script>
        <script src="/js/commons.js"></script>
        <script src='/js/jquery.min.js'></script> 
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
        <table border="0" class="tabla1">     
            <tr height="20%">
                <td>
                    {% if error is defined %}
                        <div class='errormessage'>{{ error }}</div>
                    {% endif %}
                </td>
                <td>
                    <table border="0" class="tabla2">
                        <tr>
                        <div id="msg_error" class="alert" align="center">
                            <strong><label id="lbl_error"></label></strong>
                        </div>
            </tr>
            <tr>
                <td>
                    <div >
                        <h1>Mapx</h1>
                    </div>
                </td>
                <td width="30%">
                    <div style="padding-top: 24%;" align="right">
                        <a href="#" class="btnSignUp">Registrarse</a>
                    </div>
                </td>
            </tr>	
        </table>
    </td>
    <td></td>
</tr>

<tr>
    <td width="15%"></td>
    <td>

        <table border="0" class="tabla2">  
            <tr>
                <td>
                    <table border="0" class="tabla2">
                        <tr>
                            <td></td>
                            <td width="30%">
                                <div style="padding-top: 48%;" align="right">
                                    <img class="animate1" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr height="50%">
                <td>
                    <table class="tabla2">  
                        <tr>
                            <td>
                                <input type="text" id="txt_usuario" placeholder="Email" value="alejandrodv7@gmail.com">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" id="txt_clave" placeholder="Password" value="leal2269">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a id="btnSignIn" class="btnSignIn" href="javascript:void(0);">Iniciar Sesi&oacute;n</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </td>
    <td width="15%"></td>
</tr>

<tr height="20%">
    <td>					
    </td>
    <td>
        <table border="0" class="tabla2">
            <td width="40%">
                <h2>Empieza a usar mapx ahora!</h2>
            </td>
            <td></td>
        </table>
    </td>
    <td></td>
</tr>
</table>

<script type='text/javascript'>
   
    {#
    
    function sesion()
	{
        console.log("Sesion Ok");
		iniciarSesion(strUser, strPassword);
	}#}
</script>
{% endblock %}

{% endblock %}